In [2]:
import pandas as pd
penguins_cleaned = pd.read_csv("/workspaces/Fetal-Weight-Diagnosis-/peguine_data.csv")
penguins_cleaned

,Unnamed: 0,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,4,Adelie,Torgersen,39.3,20.6,190,3650,male
...,...,...,...,...,...,...,...,...
328,328,Chinstrap,Dream,55.8,19.8,207,4000,male
329,329,Chinstrap,Dream,43.5,18.1,202,3400,female
330,330,Chinstrap,Dream,49.6,18.2,193,3775,male
331,331,Chinstrap,Dream,50.8,19.0,210,4100,male
332,332,Chinstrap,Dream,50.2,18.7,198,3775,female